li {
    background-color: #ff7b00;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.rojo{
   text-decoration: line-through;
}

.verde{
    text-decoration: none;

}

.div{
    display: flex;
    flex-direction: row;
}